/*-------- font-family Popins ---------*/

@font-face
{
    font-family: Poppins;
    src: url('../fonts/Poppins/Poppins-Black.ttf');
}


/*-------- font-family Pushster---------*/

@font-face
{
    font-family: Pushster;
    src: url('../fonts/Pushster/Pushster-Regular.ttf');
}

@font-face
{
    font-family: Luxurious_Roman;
    src: url('../fonts/Luxurious_Roman/LuxuriousRoman-Regular.ttf');
}