*
{
    margin: 0;
    padding: 0;
}
/*---------global-----------------------*/
.green-color
{
    color: green;
}

a 
{
    color: rgb(10, 10, 10);
    text-decoration: none;
}

li
{
    list-style: none;
}

.flex{
    display: flex;
}

h1
{
    font-size: 50px;
}

h4{
    font-size: 25px;
}
.btn{
    width: 120px;
    padding: 10px 20px;
    color: white;
    border-radius: 40px;
    border: none;
    background: green;
    font-size: 15px;
}
/*---------global-----------------------*/
.login
{
    background-color: rgb(223, 223, 223);
    height: 4vh;
    text-align: end;
}
.login .items-login
{
margin-right: 15%;
padding-top: 1vh;
}
.login .items-login a
{
    padding: 0 20px;
}

#border-left
{
    border-left: 2px rgb(10, 10, 10) solid;
}

.btn:hover
{
    background: rgb(1, 102, 1);
}
/*---------------contact-----------------------------*/
.contact .content-contact
{
   float: right;
   margin-right: 10%;
   max-height: 20vh;
}


.contact .content-contact span
{
    display: block;
    font-size: 20px;
}

.contact .content-contact .item-contact
{
    display: inline-block;
    margin: 50px 20px;
}
/*---------------contact-----------------------------*/

/*---------------navigation-----------------------------*/
nav {
    margin-top: 50px;
}
nav .nav .logo
{
    margin: 80px 30px;
    display: inline-block;
}
nav .nav .logo .logo-item img
{
    width: 100px;
    border-radius: 50%;
    
}

nav .nav .logo .logo-item
{
    display: inline-block;
    margin-left: 20px;
}
#logo
{
    vertical-align:25px;
    font-size: 40px;
    
}
nav .nav .nav-list{
    display: inline-block;
}
nav .nav .nav-list .list .nav-item-list
{
    font-size: 20px;
    display: inline-block;
    padding: 10px 10px;
    vertical-align:25px;
 
}

nav .nav .nav-list .list .nav-item-list a:hover
{
    color: green;
}
/*---------------navigation-----------------------------*/

/*---------------section1-----------------------------*/
section .content1
{
    height: 50vh;
    background: rgb(223, 223, 223);
}

section .content1 .title
{
    width: 65%;
    margin: 50px 10%;
}
section .content1 .paragraph-about-greenhouse
{
    margin: 40px 0;
    font-size: 20px;
    width: 600px;
}



section .content1 .image-greenhouse 
{
    height: 50vh;
}
/*---------------section1-----------------------------*/

/*---------------offer-----------------------------*/
.offer{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

.offer .product-preview
{
    width: 350px;
    margin: 80px 50px 80px 0px
}
.offer .special-offers
{
    margin: 60px 0;
    font-size: 25px;
    
}
.offer .box-offer .rectangle
{
    width: 350px;
    height: 350px;
    border: 2px gray solid;
  
}

.offer .box-offer .rectangle .images-offer
{
    width: 340px;
    margin: 5px;
}

.offer .box-offer .product-preview  h3{
    font-size: 20px;
    margin-bottom: 15px;
}


.offer .box-offer .product-preview .btn-buy-now
{
    width: 180px;
    
}

.offer .box-offer .product-preview .btn-buy-now .basket
{
    font-size: 20px;
    margin-right: 10px;
}
/*---------------offer-----------------------------*/

/*---------------about-us-----------------------------*/
.about-us{
    height: 90vh;
    background: rgb(223, 223, 223);
    
}

.about-us .about-us-photo img{
    width: 535px;
}

.about-us .about-us-content{
    margin-left: 20%;
    width: 600px;
    max-height: 90vh;
    font-size: 20px;
}
.about-us .about-us-content h1, p{
    margin: 20px 0;
}

.about-us .about-us-content .btn-read-more
{
    width: 150px;
}
/*---------------about-us-----------------------------*/

/*---------------why-us-----------------------------*/
.why-us
{
    width: 1000px;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    font-size: 25px;
}

.why-us .containter .rectangle-icon{
    width: 300px;
    text-align: center;
    margin: 30px;
}
.why-us .containter .rectangle-icon .icon
{
    font-size: 80px;
    margin: 40px;
}
/*---------------why-us-----------------------------*/


/*---------------news-----------------------------*/
.news
{
    width: 1000px;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    
}
.news .title-news{
    font-size: 30px;
}

.news .grid-news{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 400px 400px ;
    grid-column-gap: 100px;
    grid-row-gap: 50px
   
} 
.news .grid-news .caption{
    font-size: 25px;
}

.news .grid-news p{
    color: rgb(68, 68, 68);
}

.news .grid-news .btn-grey{
    width: 140px;
    padding: 10px 0;
    background: gray;
}
/*---------------news-----------------------------*/

